extends ./../../layouts/main.pug
block content
  .image.ui.column.centered.grid
    img(src="/" + club.clubPics)
  .club.ui.items
    .item
      .content 
        .header= club.clubName
        .meta= "$" + club.clubDues
        .description
          p= club.clubDesc
          p= "Meeting times: " + club.clubDate
        .extra.ui.column.centered.grid
          .ui.icon.center.floated.primary.button(data-tooltip="This will direct students to club reminds, sponsor emails, or other resources")
            | Join Club!
            i.add.icon  