html
 .container
      form(action="/club/new", method="post")
        .form-group
            label(for="clubname") Club Name
            input.form-control#clubname(type="text", name="name")
            input.form-control#clubname(type="text", name="desc")
            //- input.form-control#clubname(type="text", name="email")
            //- input.form-control#clubname(type="text", name="email")
            //- input.form-control#clubname(type="text", name="email")
            //- input.form-control#clubname(type="text", name="email")
            //- input.form-control#clubname(type="text", name="email")
            //- input.form-control#clubname(type="text", name="email")
        button.btn.btn-primary(type="submit") Submit!


        // edit for new club post request