ul#nagivation
  li.nav 
    a.nav(href="http://localhost:8080/clubs") Club List
  li.nav
    a.nav(href="http://localhost:8080/clubs/new") New Club
  li.nav
    a.nav(href="http://localhost:8080/clubs/events") Events
  li.nav
    a.nav(href="http://localhost:8080/signup") Sign Up