nav
  ul
    li 
      a(href="http://localhost:8080/clubs") Club List
    li
      a(href="http://localhost:8080/clubs/new") New Club
    li
      a(href="http://localhost:8080/clubs/events") Events
