nav
  div.ui.item.menu#nagivation
    a.item.active(href="http://localhost:8080") Home
    a.item(href="http://localhost:8080/clubs") View Clubs
    a.item(href="http://localhost:8080/clubs/new") Create a Club
    a.item(href="http://localhost:8080/clubs/events") Events
