<!DOCTYPE html>
html(lang="en")
  block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title || "Club Finder"
    link(rel="stylesheet", href="assets/style_bundle.css")
  body
    include ./../components/navigation.pug
    block clubinfo
    script(src="assets/bundle.js")