<!DOCTYPE html>
html(lang="en")
  block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title || "Club Finder"
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css")
    link(rel="stylesheet", href="/assets/style.css")
  body
    block header
      header
        h2 Club Finder
    include ./../components/navigation.pug
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" )
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js")
    script(src="/assets/bundle.js")