<!DOCTYPE html>
html(lang="en")
  block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title || "Club Finder"
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css")
    link(rel="stylesheet", href="/assets/style.css")
  body
    include ./../components/navigation.pug
    block content
    script(src="/assets/bundle.js")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js")