doctype html
html(lang="en")
  head
    title= index
  body
    .container
      form(action="/addinfo", method="post")
        .form-group
            label(for="exampleInputEmail1") Email Address
            input.form-control#exampleInputEmail1(type="email", name="email", aria-describedby="emailHelp")
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
            label(for="name") Full Name
            input.form-control#name(type="text" name="name" aria-describedby="emailHelp")
        button.btn.btn-primary(type="submit") Submit!