extends ./../layouts/main.pug
block content
    form(action="/clubs/new", method="post")
        .form-group
            input.form-control(type="text", name="clubName")
            p Name ^
            input.form-control(type="text", name="clubDesc")
            p Desc ^
            input.form-control(type="text", name="clubDues")
            p Dues ^ 
            input.form-control(type="text", name="clubPics")
            p url ^
            input.form-control(type="text", name="clubDate" placeholder="Hi!")
            p date ^
        button.btn.btn-primary(type="submit") Submit!