extends ./../layouts/main.pug
block content
    form(action="/clubs/new", method="post")
        .form-group
            input.form-control(type="text", name="clubName")
            p Name ^
            input.form-control(type="text", name="clubDesc")
            p Desc ^
            input.form-control(type="text", name="clubDues")
            p Dues ^ 
            input.form-control(type="text", name="clubPics")
            p url ^
            input.form-control(type="text", name="clubDate" placeholder="Hi!")
            p date ^
        //- .colorme Events
        //-     input.form-control(type="text", name="clubEvents[][eventName]") Name
        //-     input.form-control(type="text", name="clubEvents[][eventDate]") Date
        //-     input.form-control(type="text", name="clubEvents[][eventDesc]") Desc
        //-     input.form-control(type="text", name="clubEvents[][eventNotify]") Notify
        //-     br 
        //-     2
        //-     br
        //-     input.form-control(type="text", name="clubEvents[][eventName]") Name
        //-     input.form-control(type="text", name="clubEvents[][eventDate]") Date
        //-     input.form-control(type="text", name="clubEvents[][eventDesc]") Desc
        //-     input.form-control(type="text", name="clubEvents[][eventNotify]") Notify
        //- .colorme Members
        //-     input.form-control(type="text", name="clubMembers[][userName]") userName
        //-     input.form-control(type="text", name="clubMembers[][userName]") userName
        button.btn.btn-primary(type="submit") Submit!